@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

body {
    font-family: "Inter";
}

table {
    background: #e4e4e4;

    border: 1px solid #ccc;
    border-collapse: collapse;

    td, th {
        min-width: 20px;
        padding: 3px 6px;

        border: 1px solid #ccc;
    }

    th {
        font-weight: 500;

        text-align: left;
    }

    tbody {
        background: #f7f7f7;
    }
}

table.piano-roll {
    font-size: 10pt;

    td:first-child {
        color: #222;
        font-weight: 500;

        &.sharp {
            color: #666;
        }
    }

    td.note {
        background: rgb(66, 66, 66);
    }
}

table.arrangement {
    td, th {
        min-width: 32px;
    }

    td {
        padding: 6px 8px;
    }

    td.pattern {
        color: #fff;

        font-weight: 500;
        text-align: center;

        &.pattern-0 {
            background: rgb(95, 95, 95);
        }

        &.pattern-1 {
            background: rgb(66, 66, 66);
        }

        &.pattern-2 {
            background: rgb(44, 44, 44);
        }

        &.pattern-3 {
            background: rgb(27, 27, 27);
        }
    }
}